#left {
	text-align: left;
}

#center {
	text-align: center;
}

#right {
	text-align: right;
}

#arrow {
	text-align: center;
}

img.home {
	width:100%;
}

body {
	padding-top: 45px;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
}

#headercontainer {
	position: relative;
}

#header {
	margin-top: 15px;
	text-align: center;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: rgba(34,34,34,0.85);
    position: absolute;
}

#header h1 {
	color: white;
}