#left {
	text-align: left;
}

#center {
	text-align: center;
}

#right {
	text-align: right;
}

#arrow {
	text-align: center;
}

img.home {
	width:100%;
}

.btn-custom {
	color: white;
}

a, h1, h2, h3, h4, h5, p {
	font-family: 'Raleway', sans-serif;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
}

#headerimg {
	position: fixed;
	z-index: -1;
	top: -30%;
}

#content {
	position: absolute;
	top: 50%;
}

#accordionPortfolio, #accordionPass, #accordionArrow {
	margin-top: 0%;
}

#accordion {
	margin-top: -1.55%;
}

#navbar a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 115%;
}

#headertext {
	font-family: 'Ubuntu', sans-serif;
	font-size: 8em;
	color: white;
	margin-top: 3%;
	background-color: rgba(0,0,0,.3);
}

#header {
	position: absolute;
	top: 4%;
	width: 100%;
	text-align: center;
	z-index: 0;
}

#headerimg {
	-webkit-filter: blur(4px) brightness(1);
	-ms-filter: blur(4px) brightness(1.9);
	filter: blur(4px) brightness(1.9);
}

#header h1 {
	color: white;
}