body {
	padding-top: 75px;
	padding-bottom: 100px;
	background-size: 100%;
	background-image: url("https://raw.github.com/BrianLichliter/brianlichliter.github.io/master/img/index.background.jpg");
}

#header {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color:rgba(34,34,34,0.8)
}

#sidebar {
	padding-bottom: 175px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color:rgba(34,34,34,0.8)
}

#mainbar {
	padding-bottom: 150px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color:rgba(34,34,34,0.8)
}

#mainbar p {
	color: white;
}

#mainbar h2 {
	color: white;
}

#sidebar h3 {
	color: white;
}

#header h1 {
	color: white;
}

#center {
	text-align: center;
}

#right {
	text-align: right;
}